.member-main {
  width: 94%;
  padding: 3%;
  text-align: center;
}

.member-row {
  margin: 30px 0px;
  display: flex;
}

.member-row .pCard {
  position: relative;
  width: 33.3%;
}

.member-row .pCard .pCard-img {
  width: 50%;
}

.member-row .pCard .label {
  color: #fff;
  position: absolute;
  left: 70px;
  bottom: 0px;
  width: 30%;
  font-size: 30px;
  padding: 2px 5px;
  font-weight: lighter;
  z-index: 999;
  background-color: #81D8D0;
}