pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    background-color: #f8f8f8;
    border: 1px solid #dfdfdf;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 0.125rem 0.3125rem 0.0625rem;
}

code {
    border-color: #dfdfdf;
    border-style: solid;
    border-width: 1px;
    color: #333;
    font-family: Consolas,"Liberation Mono",Courier,monospace;
    font-weight: normal;
    padding: 0.125rem 0.3125rem 0.0625rem;
    background-color: transparent;
    border: 0;
    padding: 0;
}

.comments-title {
    font-size: 2em;
    margin-top: 10px;
}

.comment {
    padding: 10px 0;
    margin: 10px 0;
    border-bottom: dashed 1px rgba(1,1,1,1);
    color: #505050;
    font-family: open-sans, sans-serif;
}

.comment-author {
    margin-bottom: 10px;
    font-size: 12pt;
    font-weight: bold;
}

.comment-content {
    font-size: 11pt;
    font-style: normal;
    font-weight: 400;
    white-space: pre-wrap;
    line-height: 25px;
}

.comment-time {
    font-style: italic;
    font-size: 11pt;
    font-weight: 400;
}

.comment-notice {
    margin: 10px 0;
}

.comment-form {
    margin: 10px 0;
}

.comment-input-textarea {
    width: 100%;
    font-size: 18px;
}

.comment-input-submit {
    width: 50px;
    height: 30px;
}