.course-index-bg {
    position: relative;
    padding: 20px 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, .1);
}

.course-index-main {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 20px;
    background-color: #fff;
}

.course-index-btn-group {
    padding: 20px 20px;
}

.course-index-link-btn {
    text-decoration: none;
    color: rgba(1,1,1,.5);
    border: 2px solid #81D8D0;
    border-radius: 10px;
    padding: 3px 10px;
    transition: .5s;
    letter-spacing: 1px;
}

.course-index-link-btn:hover {
    background-color: #81D8D0;
    color: #fff;
}

.course-index-courses {
    padding-left: 20px;
    padding-bottom: 10px;
}

.course-index-course {
    margin: 20px 0;
}

.course-index-course-link {
    color: rgba(1,1,1,.5);
    text-decoration: none;
    cursor: pointer;
    font-size: 25px;
}

.course-index-course-link:hover {
    color: #81D8D0;
}